{% extends "base.html.twig" %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h3>Categories</h3>
    <a href="{{ path('app_category_new')}}" class="btn btn-success">New category</a>
    <hr>
    <table class="table table-light">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row">{{ category.id }}</th>
                <td><a href="{{ path('app_category_show', { 'id': category.id } )}}">{{ category.name }}</a></td>
                <td>
                    <a href="{{ path('app_category_edit', {'id': category.id } )}}" class="btn btn-primary">Edit</a>
                    <a href="{{ path('app_category_destroy', {'id': category.id} )}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
