{% extends "base.html.twig" %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h3>{{ category.name }}<span style="font-weight: bold; font-size: large;"> category</span></h3>
        <hr>
        {% include '@App/Todo/todos_table.html.twig' %}
    </div>
{% endblock %}
