{% extends "base.html.twig" %}

{% block title %}AppBundle:Registration:register{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
