{% extends "base.html.twig" %}

{% block title %}Oh yeah edit...{% endblock %}

{% block body %}
    <h2 class="page-header">Wait...wat we doin again?</h2>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
