{% extends "base.html.twig" %}

{% block title %}Do me{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['warning', 'error', 'notice']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h2>Todos</h2>
      <a href="{{ path('app_todo_new')}}" class="btn btn-success">New Todo</a>
    <hr>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Shared Todos</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            {% include '@App/Todo/todos_table.html.twig' %}
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {% include '@App/Todo/shared_todos/todos_table.html.twig' %}
        </div>
    </div>
    <hr>

{% endblock %}
