{% extends "base.html.twig" %}

{% block title %}AppBundle:Todo:New{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="page-header">Add a new Todo..todo...todo todo todo todo...todoooo...do do do do...pink panther theme aint it...</h2>
        <hr>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
