{% extends "base.html.twig" %}

{% block stylesheets %}
<style>
    p {
        margin-bottom: 0!important;
    }
</style>
{% endblock %}

{% block title %}{{ todo.name }}{% endblock %}

{% block body %}
    <div class="container">

        <h3>{{ todo.name }}</h3><p>Priority:
            <span style="color: {{ 'highest' in todo.priority ? 'red; font-weight: bold;' : 'black' }}">{{ todo.priority|capitalize }}</span></p>
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-8">
                <p>Category: {{ todo.category.name }}</p>
            </div>
            <div class="col-md-4">
                <p>Created by: {{ todo.user.username }}</p>
            </div>
        </div>
        <hr style="margin-top: 0">
        <small>Created at: {{ todo.createdAt|date('dd.mm.Y.') }}</small>
        <div class="row" style="{{ todo.status ? 'background-color: limegreen;' : "" }}">
            <div class="col-md-8">
                {{ todo.description }}
            </div>
            <div class="col-md-4">
                Due to: {{ todo.dueDate|date('F j, Y, g:i a') }}
            </div>
        </div>
        <hr>
        <a href="{{ path('app_todo_edit', {'id': todo.id } )}}" class="btn btn-primary">Edit</a>
        {% if todo.status %}
            <a href="{{ path('set_status', {'id': todo.id, 'status': 0} )}}" class="btn btn-warning">Mark as Unfinished</a>
        {% else %}
            <a href="{{ path('set_status', {'id': todo.id, 'status': true} )}}" class="btn btn-success">Mark as Finished</a>
        {% endif %}
        <p style="margin-top: 20px; font-style: italic;">Ya homies that you got in ya own mess:</p>
        {% for user in todo.sharedUsers %}
            <p>{{ user.username }}</p>
        {% endfor %}
    </div>
{% endblock %}
