<tr {{ todo.status ? 'bgcolor="limegreen"' : "" }}>
    <th scope="row">{{ todo.id }}</th>
    <td><a href="{{ path('app_todo_show', { 'id': todo.id } )}}">{{ todo.name }}</a></td>
    <td>{{ todo.category.name }}</td>
    <td>{{ todo.priority }}</td>
    <td>{{ todo.dueDate|date('F j, Y, g:i a') }}</td>
    <td>{{ todo.user.username }}</td>
    <td><a href="{{ path('app_todo_edit', {'id': todo.id } )}}" class="btn btn-primary">Edit</a>
        <a href="{{ path('app_todo_destroy', {'id': todo.id} )}}" class="btn btn-danger">Delete</a>
        {% if todo.status %}
            <a href="{{ path('set_status', {'id': todo.id, 'status': 0} )}}" class="btn btn-warning">Mark as Unfinished</a>
        {% else %}
            <a href="{{ path('set_status', {'id': todo.id, 'status': true} )}}" class="btn btn-success">Mark as Finished</a>
        {% endif %}
    </td>
</tr>