<p style="font-size: large; font-weight: 400; font-style: italic; margin-top: 15px;">Your Todos..To dos...to do's...fak dis shit shawty, Im out..I'm...fak u!</p>
<table class="table table-light">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Todo</th>
        <th scope="col">Priority</th>
        <th scope="col">Category</th>
        <th scope="col">Due Date</th>
        <th scope="col">Created by</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for todo in todos %}
        {% include '@App/Todo/todo.html.twig' %}
    {% endfor %}
    </tbody>
</table>
{% if todos is empty %}<h3 style="padding-left: 15px; font-style: italic; color: darkolivegreen;">Dawg yo list is empty...Whatcha waitin fo, fool?!?!</h3>{% endif %}
