{% extends "base.html.twig" %}

{% block title %}AppBundle:Security:login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container" style="background-color: #343a40; padding: 50px 50px 100px 50px;">
        <h2 style="color: white; text-align: center">Login</h2>
            <hr style="background-color: white;">
    <form action="{{ path('login') }}" method="post" style="text-align: center;">
        <label for="username" style="color:white;">Username:</label>
        <input class="form-action" type="text" id="username" name="_username" value="{{ last_username }}" />
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <label for="password" style="color:white;">Password:</label>
        <input class="form-action" type="password" id="password" name="_password" />

        <button class="btn btn-success" type="submit">login</button>
        <br/> <a href="{{ path('user_registration') }}" style="font-size: small;">Still not a user?!?! REGISTER, DAWG!</a>
    </form>
    </div>
{% endblock %}
