<p style="font-size: large; font-weight: 400; font-style: italic; margin-top: 15px;">Shared todos?!?!?! Ain't nobody got time fo dat!!!</p>
<table class="table table-light">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Todo</th>
        <th scope="col">Priority</th>
        <th scope="col">Category</th>
        <th scope="col">Due Date</th>
        <th scope="col">Created by</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for todo in sharedTodos %}
        {% include '@App/Todo/shared_todos/todo.html.twig' %}
    {% endfor %}
    </tbody>
</table>
{% if sharedTodos is empty %}<h3 style="padding-left: 15px; font-style: italic; color: darkolivegreen;">No friends eh dawg...I'm feelin ya bro...</h3>{% endif %}